/* Code taught by Paul Brokenshire for IAT 339 and written by Audrey Chow + Melissa Chan */
*, *::after, *::before {  /* select EVERYTHING */
    box-sizing: border-box;
}

.grid-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

/*------------------------- 1/5 PAGE ----------------------------*/
.col {
  flex: 1 1 20%;
}

#listing-space .col {
    flex-grow: 0;
}

/*-------------------------HALF PAGE-----------------------------*/
.col-half {
    flex: 1 1 50%;
}

/*--------------------------FULL PAGE----------------------------*/
.col-full {
    flex: 1 1 100%;
}

