/*------------------------MAIN TAGS--------------------------*/
html {
    position: relative;
}

body {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #212121;
    min-width: 500px;
}

h1, h2, h3, h4{
    font-family: termina, sans-serif;
    font-style: normal;
    line-height: 1.25em;
    margin-bottom: 0;
}

h1 {
    font-weight: 800;
    font-size: 3.375em;
}

h2 {
    font-weight: 600;
    font-size: 2.25em;
}

h3 {
    font-weight: 400;
    font-size: 1.75em;
}

h4 {
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

button {
    background-color: rgba(0,0,0,0);
    border: none;
}

button:focus{
    outline-style: none;
}

.button {
    margin: 0 1%;
    border-radius: 5px;
    padding: 9px 18px;
    font-size: 0.95em;
    font-weight: 400;
    color: rgb(0,0,0,0.8);
    transition: background-color 0.4s ease;
}

.button.blue-bg{
    background-color: #5A9EC4;
    color: white;
}

.button.blue-bg:hover{
    background-color: #488aaf;
    color: white;
}

.button.whiteblue-bg{
    border: 1px solid #8BC8E9;
    color: #67acd1;
}

.button.whiteblue-bg:hover{
    background-color: #5A9EC4;
    border: 1px solid #5A9EC4;
    color: white;
}

.left-align {
    margin-left: 10%;
}

.center {
    text-align: center;
}

.top-padding {
    padding-top: 13%;
}

.image-link {
    margin: 0;
    padding: 0;
}

/*-------------------------COLOURS---------------------------*/
.black {
    color: #404040;
}

.black-bg {
    background-color: #404040;
}

.lt-blue {
    color: #D5E9F3;
}

.med-blue {
    color: #8BC8E9;
}

.dark-blue {
    color: #5A9EC4;
}

.dark-blue-bg {
    background-color: #5A9EC4;
}

.blue-bg {
    background-color: #D5E9F3;
}

p.grey-text {
    color: dimgrey;
}

/*-------------------------TOP NAV---------------------------*/
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    overflow: visible;
    padding: 0 16px;
    z-index: 3;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}

.top-nav a {
    float: left;
    color: black;
    opacity: 0.8;
    text-align: center;
    margin: 20px 16px;
    text-decoration: none;
}

.top-nav a:hover {
    opacity: 1;
}

.top-nav-right {
    float: right;
    padding-right: 48px;
    height: 60px;
}

/*--------------------DROPDOWN TOP NAV-----------------------*/
/* referenced from www.w3schools.com */
.dropdown-button {
    color: black;
    border: none;
    margin: 20px 16px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 3;
    padding: 7% 0 0 0;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.dropdown-content a {
    background-color: white;
    position: relative;
    font-family: termina;
    font-weight: 200;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: black;
    opacity: 0.7;
    text-decoration: none;
    display: block;
    margin: 0 0 10% 13%;
}

.dropdown-content a:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: #000;
    opacity: 0.8;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.dropdown-content a:hover:after {
    width: 100%;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.dropdown-content a:hover {
    opacity: 1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

/*------------------------MOBILE NAV------------------------*/
.mobile-nav-content {
    position: relative;
    top: 15%;
    left: 10%;
    text-align: left;
    width: 80%;
}

.mobile-nav-content img {
    width: 45%;
}

.mobile-nav-content a {
    display: block;
    position: relative;
    font-family: termina;
    font-size: 0.85em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration:none;
    color: black;
    margin-top: 18px;
}

.mobile-nav-heading {
    padding-top: 18px;
    border-top: 1px solid rgb(0, 0, 0, 0.25);
    font-weight: 600;
    opacity: 0.9;
}

.mobile-nav-subheading {
    padding-left: 5%;
    font-weight: 200;
    opacity: 0.7;
    transition: 0.25s opacity ease;
}

.mobile-nav-subheading:hover {
    opacity: 1;
}

.mobile-nav-content a:visited {
    color: black;
    opacity: 0;
}

#mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
}

#mobile-nav .closebtn {
    display: block;
    position: absolute;
    top: 1%;
    right: 6%;

    font-family: termina;
    font-weight: 600;
    font-size: 2em;
    text-decoration:none;
    color: black;
}

/*----------------------ANIMATED LINKS----------------------*/
.underline-link {
    position: relative;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.underline-link:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: #000;
    opacity: 0.8;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.underline-link:hover:after {
    width: 100%;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.active-link:after {
    content: '';
    position: absolute;
    width: 100%; height: 2px;
    display: block;
    margin-top: 3px;
    left: 0;
    background: #000;
    opacity: 0.8;
}

#nav-logo {
    width: 120px;
    position: absolute;
    left: 10%;
    top: 35%;
}

#logo-link {
    opacity: 1;
}

#hamburger {
    float: right;
    display: none;
    margin: 13px 10px;
    font-size: 1.5em;
}

/*------------------------SALE BANNER---------------------------*/
.sale-banner {
    background-color: rgb(213, 233, 243);
    z-index: 2;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
}

.sale-banner a {
    display: block;
    text-align: center;
    margin-top: 11px;
    font-family: termina;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    color: rgb(28, 79, 108);
    opacity: 0.8;
    text-decoration: none;
}

.sale-banner a:hover {
    opacity: 1;
}

/*------------------------HOME (HERO)---------------------------*/
.banner {
    position: relative;
    width: 100%;
    z-index: 0;
    min-width: 320px;
}

div.hero {
    height: 600px;
    background-image: url("../img/unicorn-dog-mobile.jpg");
    background-size: cover;
    background-position: bottom;
    margin-bottom: 0;
}

.hero .textblock {
    position: absolute;
    text-align: left;
    top: 30%;
    margin-right: 10%;
    width: 70%;
}

.hero p {
    font-size: 1.25em;
    margin-top: 0.5em;
    padding-bottom: 20px;
}

/*------------------------HOME (ABOUT)---------------------------*/
#home-about {
    padding-top: 40px;
}

#home-about .textblock {
    width: 70%;
    margin: auto;
}

#home-about .button {
    display: block;
    margin: auto;
    width: 25%;
    margin-top: 30px;
}

/*----------------------HOME (BUNNY DAY)-------------------------*/
#bunny-day {
    background-image: url("../img/bunnies.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-top: 75px;
    text-align: center;
    padding: 7.5% 0;
}

/*-----------------------HOME (PRICING)--------------------------*/
.pricing-cards {
    padding-top: 5%;
    text-align: center;
    cursor: default;
    margin-bottom: 100px;
}

.pricing-card-content {
    height: 250px;
}

.purchase {
    cursor: pointer;
    margin: auto;
    font-weight: 600;
}

.pricing-cards h2 {
    padding: 0 10% 0 5%;
}

.pricing-cards .grid-container {
    width: 80%;
    margin-top: 3%;
    justify-content: space-between;
}

.pricing-cards .col {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border: 0.5px solid #e8e8e8;
    border-radius: 10px;
    padding: 5% 10%;
    transition: 0.3s box-shadow ease;
    transition: 0.3s transform ease;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.03);
    flex-shrink: 0;
}

.pricing-cards .col:hover {
    box-shadow: 0px 6px 8px rgba(0,0,0,0.05);
    transform: scale(1.02);
}

.price {
    font-family: termina;
    font-weight: bold;
    font-size: 3em;
    margin-top: 25px;
    margin-bottom: 0;
}

.sale-badge {
    background-color: rgb(213, 233, 243);
    border: 1px solid rgb(139, 200, 233);
    border-radius: 5px;
    position: absolute;
    top: 3%;
    right: 3%;
    padding: 1% 2%;
    margin: 0;
}

.sale-badge p {
    color: rgb(28, 79, 108, 0.8);
    margin: 0;
    text-transform: uppercase;
    font-family: termina;
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

/*------------------------OUR PETS (NAV)------------------------*/
/* referenced from www.w3schools.com */
.top-content {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/marnie.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 0;
}

.pet-nav {
    display: block;
    margin-top: 10%;
    width: 80%;
    border-bottom: 2px solid rgba(0,0,0,0.8);
    position: absolute;
    padding-bottom: 3px;
    bottom: 0;
}

.pet-nav nav {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
}

.pet-nav a {
    float: left;
    margin: 0 5% 0 0;
    display: block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0, 0);
    margin-right: 10%;
}

.pet-nav:hover a {
    opacity: 1;
}

/*--------------------------OUR PETS----------------------------*/
#our-pets-banner {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/our-pets-banner.jpg");
    background-size: cover;
    background-position: bottom;
    height: 500px;
    margin-bottom: 0;
}

#our-pets-banner h1 {
    position: absolute;
    top: 80%;
}

#our-pets-banner button {
    background-color: rgb(0,0,0, 0);
}

#all-pets-button, #dogs-button, #cats-button, #bunnies-button {
    margin-right: 3%;
    padding: 2px 0;
}

/*---------------------OUR PETS (CARDS)------------------------*/
.listings {
    margin: 2% 10% 0 9%;
}

.product-card {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 1.5%;
}

.product-card p {
    margin-top: 2%;
}

.product-card img {
    width: 90%;
    margin: 4% auto 0 auto;
    display: block;
}

a.product-card {
    text-decoration: none;
    color: black;
    transition: 0.3s box-shadow ease;
    transition: 0.3s transform ease;
}

a.product-card:hover {
    box-shadow: 0px 6px 8px rgba(0,0,0,0.05);
    transform: scale(1.02);
}

.new {
    background-color: rgb(213, 233, 243);
    border: 1px solid rgb(139, 200, 233);
    border-radius: 5px;
    position: absolute;
    top: 6%;
    right: 8%;
    padding: 1% 2%;
    margin: 0;
}

.new p {
    color: rgb(28, 79, 108, 0.8);
    margin: 0;
    text-transform: uppercase;
    font-family: termina;
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

.sick {
    background-color: rgb(243, 213, 213);
    border: 1px solid rgb(244, 140, 140);
    border-radius: 5px;
    position: absolute;
    top: 6%;
    right: 8%;
    padding: 1% 2%;
    margin: 0;
}

.sick p {
    color: rgb(216, 63, 63);
    margin: 0;
    text-transform: uppercase;
    font-family: termina;
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}

#listing-space {
    margin-bottom: 100px;
}

/*---------------------SINGLE LISTING------------------------*/
.single-listing img {
    margin-top: 10px;
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}

div.single-listing {
    line-height: 1.4em;
    margin: 0 10%;
}

div.single-listing h1 {
    margin-top: 5px;
}

div.single-listing button {
    display: inline-block;
    margin: 10px 5px 25px 0;
}

div.info {
    min-width: 300px;
}

p.just-arrived {
    opacity: 0.5;
    font-family: termina;
    font-weight: 600;
    margin-top: 30px;
}

.review {
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.review .title {
    font-weight: 700;
    margin-bottom: 0;
}

.review .details {
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: -7px;
}

.review-section {
    position: relative;
        margin-bottom: 100px;
}

#review-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -4px;
    opacity: 0.7;
    text-decoration: underline;
}

#review-button:hover {
    opacity: 1;
}

/*---------------------REVIEW MODAL------------------------*/
/*referenced from w3schools https://www.w3schools.com/howto/howto_css_modals.asp*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 15; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 30px 40px;
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
}

.modal-content section {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.input-sm, .input-lg {
    width: 100%;
    border: 1px solid lightgrey;
    padding: 10px;
}

.input-sm {
    height: 40px;
    margin-bottom: 15px;
}

.input-lg {
    height: 150px;
    border: 1px solid lightgrey;
}

form .inline-block {
    width: 100%;
}

.modal-content p {
    margin-bottom: 5px;
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.not-allowed {
    cursor: not-allowed;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#submit-review {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #5A9EC4;
    color: white;
    margin-top: 20px;
    transition: 0.2s background-color;
}

#submit-review:hover {
    background-color: #488aaf;
}

#thank-you-message {
    display: none;
}

#review-pending {
    display: none;
}

#name-field {
    margin-right: 3%;
}

/*---------------------BREAD CRUMB------------------------*/
/* Style the list */
ul.breadcrumb {
    padding: 10px 10px 16px 0;
    list-style: none;
    margin-top: 125px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 0.9em;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    opacity: 0.5;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: black;
    opacity: 0.5;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
}


/*---------------------------ABOUT-------------------------------*/
section.about {
    margin-bottom: 5%;
}

.about h1 {
    word-spacing: 0.3em;
}

.about h2 {
    margin-top: 0.6em;
}

.about h4 {
    color: #5A9EC4;
    padding-top: 5%;
}

.about-top {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/about-banner.jpg"); 
    background-size: cover;
    background-position: top;
    height: 800px;
    margin-bottom: 0;
}

.about-width {
    max-width: 80%;
}

.about-left {
    padding-left: 20%;
}

.about .top-p {
    padding-top: 5%;
}

.about .bottom-p {
    padding-bottom: 10%;
}

.mission {
    background-color: #eeeded;
}

#about-kitty {
    width: 50%;
}

#about-bunny {
    width: 80%;
    margin: auto;
    float: left;
}

/*--------------------------CONTACT------------------------------*/
.contact-top h1 {
    padding-top: 50%;
}

.contact-info h2 {
    padding-right: 5%;
    margin-top: 2%;
}

#contact-us {
    padding-right: 10%;
}

.contact-top {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/contact-puppy-v9.jpg");
    background-size: cover;
    background-position: top right;
    height: 1200px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.contact-container {
    padding-top: 10%;
    width: 80%;
    justify-content: space-between;
}

.contact-container .col {
    flex: 0 0 45%;
    margin-top: 10%;
}

.contact-info p {
    margin: 0;
}

.contact-padding {
    padding-top: 3%;
}

.contact-table {
    text-align: left;
}

.contact-table th {
    padding-right: 10%;
}

#address {
    padding-top: 0.5rem;
}

/*--------------------------PRICING------------------------------*/
.pricing h1 {
    padding-top: 20%;
}

.pricing h4 {
    margin-top: 10%;
}

.pricing h2 {
    margin-top: 2%;
}

.pricing-width {
    width: 80%;
}

.pricing .pricing-cards {
    margin-top: 3%;
    padding-top: 0;
}

.pricing-text {
    margin-top: 10%;
    width: 80%;
}

.pricing .grid-container {
    margin-bottom: 10%;
}

/*--------------------------PAYMENT------------------------------*/
.payment-summary {
    position: relative;
    background-color: #eaeff2;
    padding: 5% 10% 5% 10%;
    height: 100%;
    width: 100%;
    margin-left: 0;
}

.payment-form {
    margin: 25px 5% 10% 10%;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 10%;
}

.payment-form form {
    margin-top: 20px;
}

.payment-form section {
    margin-top: 25px;
}

.payment-form input {
    margin-top: 10px;
}

.input-sm:focus{
    outline-style: none;
    border-color: #5A9EC4;
}

.input-lg:focus{
    outline-style: none;
    border-color: #5A9EC4;
}

.inline-block.third {
    width: 31%;
}

.payment-summary h4 {
    margin-bottom: 10px;
}

.asterix {
    color: #5A9EC4;
}

.margin-right-sm {
    margin-right: 2.75%;
}

.justified-row {
    display: flex;
    justify-content: space-between;
}

.less-margin-bottom {
    margin-bottom: -15px;
}

.border-bottom {
    border-bottom: 1px solid lightgrey;
}

.inline-block {
    display: inline-block;
}

#checkout-header {
    margin-top: 0;
}

#payment-button {
    margin-top: 3%;
    margin-right: 0;
}

.cancel-button {
    color: darkgrey;
    transition: 0.5s color;
    text-decoration: underline;
    margin-top: 3%;
}

.cancel-button:hover {
    color: grey;
}

/*---------------------ORDER CONFIRMATION-------------------------*/
.order-confirmation {
    margin-top: 185px;
    width: 80%;
}

.order-confirmation p {
    margin-bottom: 60px;
}

.order-confirmation a:hover {
    color: #5A9EC4;
}

/*------------------------CITATIONS------------------------------*/

.citations {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 50%;
}

.citations li {
    margin-top: 10px;
}

.citations a {
    color: #8BC8E9;
}

.citations a:hover {
    color: #5A9EC4;
}

/*---------------------------FOOTER------------------------------*/
footer {
    padding: 0.5% 5% 5% 10%;
    background-color: #D5E9F3;
    min-width: 500px;
    cursor: default;
}

footer .col {
    width: 100%;
    flex-basis: 100%;
    margin-bottom: 30px;
}

footer .grid-container {
    margin-top: 5%;
}

footer p {
    margin-bottom: 0;
}

footer table {
    text-align: left;
    padding-top: 3%;
}

footer th {
    font-weight: 600;
    padding-right: 8%;
}

footer a:hover {
    color: #5A9EC4;
}

footer img {
    width: 100px;
    margin-top: 5%;
}

#footer-logo {
    margin-left: 0;
}

#terms a:hover {
    cursor: pointer;
}
