html {
    height: 2000px;
    position: relative;
}

body {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #212121;
}

h1, h2, h3, h4{
    font-family: termina, sans-serif;
    font-style: normal;
    line-height: 1.25em;
    margin-bottom: 0;
}

h1 {
    font-weight: 800;
    font-size: 3.375em;
}

h2 {
    font-weight: 600;
    font-size: 2.25em;
}

h3 {
    font-weight: 400;
    font-size: 1.75em;
}

h4 {
    letter-spacing: 0.2rem;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

button {
    background-color: none;
    border: none;
}

button:focus{
    outline-style: none;
}

.button {
    margin: 0 1%;
    border-radius: 5px;
    padding: 9px 18px;
    font-size: 0.95em;
    font-weight: 400;
    color: rgb(0,0,0,0.8);
    transition: background-color 0.4s ease;
}

.button.blue-bg{
    background-color: #5A9EC4;
    color: white;
}

.button.blue-bg:hover{
    background-color: #488aaf;
    color: white;
}

.button.whiteblue-bg{
    border: 1px solid #8BC8E9;
    color: #67acd1;
}

.button.whiteblue-bg:hover{
    background-color: #5A9EC4;
    border: 1px solid #5A9EC4;
    color: white;
}

.left-align {
    margin-left: 10%;
}

.center {
    text-align: center;
}

.top-padding {
    padding-top: 10%;
}

.image-link {
    margin: 0;
    padding: 0;
}

/*-------------------------COLOURS---------------------------*/

.black {
    color: #404040;
}

.lt-blue {
    color: #D5E9F3;
}

.med-blue {
    color: #8BC8E9;
}

.dark-blue {
    color: #5A9EC4;
}

.blue-bg {
    background-color: #D5E9F3;
}


/*-------------------------TOP NAV---------------------------*/

.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: white;
    overflow: visible;
    padding: 0 16px;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.top-nav a {
    float: left;
    color: black;
    opacity: 0.8;
    text-align: center;
    margin: 20px 16px;
    text-decoration: none;
}

.top-nav a:hover {
    opacity: 1;
}

.top-nav-right {
    float: right;
    padding-right: 48px;
    height: 60px;
}

/*--------------------DROPDOWN TOP NAV-----------------------*/
/* referenced from www.w3schools.com */

.dropdown-button {
    color: black;
    border: none;
    margin: 20px 16px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.studio-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 3;
    padding: 7% 0 0 0;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.1);
}

.dropdown-content a {
    background-color: white;
    position: relative;
    font-family: termina;
    font-weight: 200;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: black;
    opacity: 0.7;
    text-decoration: none;
    display: block;
    margin: 0 0 10% 13%;
}

.dropdown-content a:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: #000;
    opacity: 0.8;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.dropdown-content a:hover:after {
    width: 100%;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.dropdown-content a:hover {
    opacity: 1;
}

.studio-dropdown:hover .dropdown-content{
    display: block;
}

/*----------------------ANIMATED LINKS----------------------*/

.underline-link {
    position: relative;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.underline-link:after {
    content: '';
    position: absolute;
    width: 0; height: 2px;
    display: block;
    margin-top: 3px;
    right: 0;
    background: #000;
    opacity: 0.8;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
}

.underline-link:hover:after {
    width: 100%;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.active-link:after {
    content: '';
    position: absolute;
    width: 100%; height: 2px;
    display: block;
    margin-top: 3px;
    left: 0;
    background: #000;
    opacity: 0.8;
}

#nav-logo {
    margin-top: -5px;
    padding: 0px 0px;
}

#hamburger {
    float: right;
    display: none;
    margin: 13px 10px;
    font-size: 1.5em;
}

/*------------------------MOBILE NAV------------------------*/

#mobile-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
}

.mobile-nav-content {
    position: relative;
    top: 15%;
    left: 10%;
    text-align: left;
    width: 80%;
}

.mobile-nav-content img {
    width: 45%;
}


.mobile-nav-content a {
    display: block;
    position: relative;
    font-family: termina;
    font-size: 0.85em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-decoration:none;
    color: black;
    margin-top: 18px;
}

.mobile-nav-heading {
    padding-top: 18px;
    border-top: 1px solid rgb(0, 0, 0, 0.25);
    font-weight: 600;
    opacity: 0.9;
}

.mobile-nav-subheading {
    padding-left: 5%;
    font-weight: 200;
    opacity: 0.7;
    transition: 0.25s opacity ease;
}

.mobile-nav-subheading:hover {
    opacity: 1;
}

.mobile-nav-content a:visited {
    color: black;
    opacity: 0;
}

#mobile-nav .closebtn {
    display: block;
    position: absolute;
    top: 1%;
    right: 6%;

    font-family: termina;
    font-weight: 600;
    font-size: 2em;
    text-decoration:none;
}

/*------------------------SALE BANNER---------------------------*/

.sale-banner {
    background-color: rgb(213, 233, 243);
    z-index: 2;
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 40px;
    /* pet nav referenced from www.w3schools.com */
}
#our-pets-banner {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/unicorn-dog.jpg");
    background-size: cover;
    background-position: top;
    height: 500px;
    margin-bottom: 0;
}

.sale-banner a {
    display: block;
    text-align: center;
    margin-top: 11px;
    font-family: termina;
    letter-spacing: 0.2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.75em;
    color: rgb(28, 79, 108);
    opacity: 0.8;
    text-decoration: none;
}
#our-pets-banner h1 {
    position: absolute;
    top: 50%;
}

#our-pets-banner button {
    background-color: rgb(0,0,0, 0);
}

.pet-nav {
    display: block;
    width: 80%;
    border-bottom: 2px solid rgba(0,0,0,0.8);
    position: absolute;
    padding-bottom: 3px;
    bottom: 0;
}

.sale-banner a:hover {
    opacity: 1;
}

.pet-nav a {
    float: left;
    display: block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    margin-right: 10%;
    background-color: rgb(0, 0, 0, 0);
}

.pet-nav:hover a {
    opacity: 1;
}

#dogs-button, #cats-button, #bunnies-button {
    margin-right: 3%;
    padding: 2px 0;
}


/*---------------------OUR PETS (CARDS)------------------------*/
.listings {
    margin: 3% 10% 0 9%;
}

.product-card {
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    /*  height: 20em;*/
    margin: 1.5%;
}

.product-card p {
    margin-top: 2%;
}

.product-card img {
    width: 90%;
    margin: 4% auto 0 auto;
    display: block;
}

.new {
    background-color: rgb(213, 233, 243);
    border: 1px solid rgb(139, 200, 233);
    border-radius: 5px;
    position: absolute;
    top: 6%;
    right: 8%;
    padding: 1% 2%;
    margin: 0;
}

.new p {
    color: rgb(28, 79, 108, 0.8);
    margin: 0;
    text-transform: uppercase;
    font-family: termina;
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}


/*------------------------HOME (HERO)---------------------------*/

.banner {
    position: relative;
    width: 100%;
    z-index: 0;
}

.hero.banner {
    height: 600px;
    background-color: lightgrey;
}

.hero .textblock {
    position: absolute;
    text-align: left;
    top: 38%;
    margin-right: 10%;
    width: 48%;
}

.hero p {
    font-size: 1.25em;
    margin-top: 0.5em;
    padding-bottom: 20px;
}

/*------------------------HOME (ABOUT)---------------------------*/

#home-about {
    vertical-align: top;
    padding-top: 60px;
    padding-bottom: 20px;
}

#home-about .textblock {
    width: 40%;
    min-width: 400px;
    display: inline-block;
}

/*----------------------HOME (BUNNY DAY)-------------------------*/

#bunny-day {
    background-color: lightgrey;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 75px;
    text-align: center;
}

#bunny-day .textblock {
    display: block;
    margin: auto;
    width: 60%;
}

#bunny-day button {
    display: block;
    margin: 25px auto;
}

/*-----------------------HOME (PRICING)--------------------------*/

#home-pricing {
    padding-top: 50px;
    text-align: center;
}

#home-pricing .grid-container {
    width: 80%;
}

#home-pricing .col {
    margin: 30px;
    position: relative;
}

.price {
    font-family: termina;
    font-weight: bold;
    font-size: 3em;
    margin-top: 25px;
    margin-bottom: 0;
}

.sale-badge {
    background-color: rgb(213, 233, 243);
    border: 1px solid rgb(139, 200, 233);
    border-radius: 5px;
    position: absolute;
    top: 6%;
    right: 0;
    padding: 1% 2%;
    margin: 0;
}

.sale-badge p {
    color: rgb(28, 79, 108, 0.8);
    margin: 0;
    text-transform: uppercase;
    font-family: termina;
    font-size: 0.5em;
    font-weight: 600;
    letter-spacing: 2px;
}


/*---------------------SINGLE LISTING------------------------*/

img.single-listing {
    width: 35%;
    margin-top: 10px;
    float: left;
}

div.single-listing {
    position: relative;
    left: 5%;
    display: inline-block;
    width: 37.5%;
    line-height: 1.4em;
}

div.single-listing h1 {
    margin-top: 30px;
}

div.single-listing button {
    display: inline-block;
    margin: 10px 5px 25px 0;
}


p.just-arrived {
    opacity: 0.5;
    font-family: termina;
    font-weight: 600;
}

.review {
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;

}

.review .title {
    font-weight: 700;
    margin-bottom: 0;
}

.review .details {
    opacity: 0.7;
    margin-top: 0;
    margin-bottom: -7px;
}

.review-section {
    position: relative;
}

#write-a-review {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: -4px;
    opacity: 0.7;
    text-decoration: underline;
}

#write-a-review:hover {
    opacity: 1;
}
/*---------------------BREAD CRUMB------------------------*/

/* Style the list */
ul.breadcrumb {
    padding: 10px 10px 16px 0;
    list-style: none;
    margin-top: 125px;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 0.9em;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    opacity: 0.5;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: black;
    opacity: 0.5;
    text-decoration: none;

}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    text-decoration: underline;
}



/*------------------------OUR PETS (NAV)------------------------*/

/* referenced from www.w3schools.com */
.top-content {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/marnie.png");
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-bottom: 0;
}

.pet-nav {
    margin-top: 10%;
    width: 80%;
    border-bottom: 2px solid rgba(0,0,0,0.8);
    position: absolute;
    padding-bottom: 3px;
    bottom: 0;
}

.pet-nav nav {
    list-style-type: none;
    overflow: hidden;
    position: fixed;
}

.pet-nav a {
    float: left;
    margin: 0 5% 0 0;
    display: block;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-family: termina;
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    background-color: rgb(0, 0, 0, 0);
}

.pet-nav:hover a {
    opacity: 1;
}


/*---------------------OUR PETS (CARDS)------------------------*/
.listings {
    margin: 2% 10% 0 9%;
}

.product-card {
    border: 1px solid rgba(0,0,0,0.1);
    /*  height: 20em;*/
    margin: 1.5%;
}

.product-card p {
    margin-top: 2%;
}

.product-card img {
    width: 90%;
    margin: 4% auto 0 auto;
    display: block;
}

/*---------------------------ABOUT-------------------------------*/
.about h1 {
    word-spacing: 0.3em;
}

.about h2 {
    margin-top: 0.6em;
}

.about h4 {
    color: #5A9EC4;
    padding-top: 5%;
}

.about-top {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/about-banner.jpg"); /* Photo by Lum3n.com from Pexels */
    background-size: cover;
    background-position: top;
    height: 800px;
    margin-bottom: 0;
}

.about-center {
    padding: 1% 25% 7% 25%;
}

.about-right {
    padding-right: 20%;
}

.about-left {
    padding-left: 20%;
}

.about .top-p {
    padding-top: 5%;
}

.about .bottom-p {
    padding-bottom: 10%;
}

.mission {
    background-color: #eeeded;
}

#about-kitty {
    width: 80%;
}

#about-bunny {
    width: 90%;
    padding: 7% 20% 0 0;
}

/*--------------------------CONTACT------------------------------*/
.contact-top h1 {
    padding-top: 15%;
}

.contact-top {
    position: relative;
    width: 100%;
    z-index: 0;
    background-image: url("../img/contact-puppy-v8.jpg");
    background-size: 100%;
    background-position: top;
    height: 900px;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.contact-container {
    padding-top: 10%;
}

.contact-info {
    margin-right: 3%;
}

.contact-info h2 {
    padding-right: 5%;
}

.contact-info p {
    margin: 0;
}

.contact-padding {
    padding-top: 10%;
}

.contact-table {
    text-align: left;
}

.contact-table th {
    padding-right: 10%;
}

#address {
    padding-top: 0.5rem;
}

/*---------------------------FOOTER------------------------------*/
.footer {
    margin-top: 20%;
}
/* end of footer */

#type-of-pets {
    vertical-align: top;
    padding-top: 9px;
    display: inline-block;
}

#type-of-pets h3 {
    padding-bottom: 10px;
}

#type-of-pets a {
    display: block;
    font-family: termina, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    opacity: 0.6;
}

#type-of-pets a:hover {
    opacity: 0.8;
}

/*----------------------MEDIA QUERIES-------------------------*/

@media (max-width: 600px) {
    .top-nav-right {
        display: none;
    }

    .hero .textblock {
        width: 82%;
    }

    .contact-top {
        background-image: url("../img/contact-puppy-mobile3.jpg");
        background-size: 100%;
        height: 1500px;
    }

    #hamburger {
        display: block;
    }
}

@media (min-width: 600px) {
    .top-nav-right {
        display: none;
    }

    .hero .textblock {
        width: 70%;
    }

    #hamburger {
        display: block;
    }

    .pet-nav {
        width: 80%;
    }

    .about h1 {
        margin: 0 10%;
    }

    .contact-top {
        background-image: url("../img/contact-puppy-mobile3.jpg");
        height: 1500px;
    }

    .contact-top h1 {
        padding-top: 40%;
    }

    .contact-info {
        margin-top: 10%;
    }

    .contact-container {
        padding-top: 0;
    }

}

@media (min-width: 768px) {
    .top-nav-right {
        display: block;
    }

    #hamburger {
        display:none;
    }

    .about h1 {
        padding-top: 12%;
    }

    .contact-top {
        background-image: url("../img/contact-puppy-v9.jpg");
        height: 1300px;
    }

    .contact-top h1 {
        padding-top: 40%;
    }

    #location {
        margin: 10% 13% 0 0;
    }

    #social-media {
        padding-right: 10%;
    }
}

@media (min-width: 900px) {
    .contact-top {
        height: 1200px;
    }

    .contact-top h1 {
        padding-top: 25%;
    }

    .contact-info {
        padding-right: 10%;
    }

    #social-media {
        padding-right: 20%;
    }
}

@media (min-width: 1024px) {
    .contact-top {
        height: 900px;
    }

    .contact-top h1 {
        padding-top: 15%;
    }

    #hours {
        margin-right: 0;
    }

    #location {
        margin: 10% 0 0 0;
        padding-right: 5%;
    }

    #social-media {
        margin-left: 0;
        padding-right: 3%;
    }
}

@media (min-width: 1200px) {
    .contact-top {
        height: 1000px;
    }

    #location {
        padding-right: 3%;
    }

    #social-media {
        margin: 10% 0 0 5%;
    }
}
