html {
    background-color: mintcream;
    height: 2000px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
}

body {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #212121;
}

h1, h2, h3, h4{
  font-family: termina, sans-serif;
  font-style: normal;
}

h1 {
    font-weight: 800;
    font-size: 3.375em;
}

h2 {
  font-weight: 600;
  font-size: 2.25em;
}

h3 {
  font-weight: 400;
  font-size: 1.75em;
}

h4 {
  font-weight: 800;
  font-size: 1em;
  letter-spacing: 0.2rem;
}

.top-nav {
    position: fixed;
/*    top: 0;*/
    width: 100%;
    background-color: white;
    overflow: hidden;
    padding: 0 16px;

}

.top-nav a {
    float: left;
/*    display: block;*/
    color: rgb(0, 0, 0, 0.8);
    text-align: centre;
    padding: 20px 16px;
}

.top-nav a:hover {
    color: rgb(0, 0, 0, 1);
}


.top-nav-right {
    float: right;
    padding-right: 32px;
}

#nav-logo {
    padding: 15px 16px;
}

@media(max-width: 768px){
    .top-nav-right {
        display: none;
    }
}
