/*----------------------MEDIA QUERIES-------------------------*/

/*---------------MOBILE - SMALLER THAN 600px------------------*/
@media (max-width: 600px) {
    .top-padding {
        /*        padding-top: 20%;*/
    }

    .top-nav-right {
        display: none;
    }

    .sale-banner {
        padding: 0 10% 0 10%;
        height: 60px;
    }

    .contact-top {
        background-image: url("../img/contact-puppy-mobile3.jpg");
        background-size: 100%;
        height: 1500px;
    }

    #hamburger {
        display: block;
    }
}

/*--------------------BIGGER THAN 600px-----------------------*/
@media (min-width: 600px) {
    .top-nav-right {
        display: none;
    }

    .hero .textblock {
        width: 60%;
        top: 30%;
    }

    #hamburger {
        display: block;
    }

    .pet-nav {
        width: 80%;
    }

    .about h1 {
        margin: 0 10%;
    }

    .contact-top {
        background-image: url("../img/contact-puppy-mobile3.jpg");
        height: 1500px;
    }

    .contact-top h1 {
        padding-top: 40%;
    }

    .contact-info {
        margin-top: 10%;
    }

    .contact-container {
        padding-top: 0;
    }

    #bunny-day .textblock {
        margin: 0 15%;
    }


    /*
    #home-pricing {
    padding-top: 5%;
}
    */
}

/*--------------------BIGGER THAN 768px-----------------------*/
@media (min-width: 768px) {
    .top-nav-right {
        display: block;
    }

    #hamburger {
        display:none;
    }

    .about h1 {
        padding-top: 12%;
    }

    .hero .textblock {
        top: 35%;
        width: 50%;
    }

    .contact-top {
        background-image: url("../img/contact-puppy-v9.jpg");
        height: 1300px;
    }

    .contact-top h1 {
        padding-top: 40%;
    }

    .pricing .grid-container {
        width: 80%;
        margin-top: 5%;
    }

    .pricing-text .col {
        flex-basis: 50%:
    }

    #membership {
        margin-left: 0;
    }

    .pricing-cards .col {
        flex-basis: 27%;
    }

    .pricing h1 {
        padding-top: 10%;
    }

    .pricing h4 {
        margin-top: 5%;
    }

    #home-about .textblock {
        width: 60%;
    }

    .pricing-cards .col {
        margin: 1%;
        padding: 4%;
    }

    .pricing-cards button {
        width: 23%;
        margin-top: 5%;
    }

    #location {
        margin: 10% 13% 0 0;
    }

    #social-media {
        padding-right: 10%;
    }

    img.single-listing {
        width: 35%;
        margin-top: 10px;
        float: left;
    }

    div.single-listing {
        position: relative;
        left: 5%;
        display: inline-block;
        width: 37.5%;
        line-height: 1.4em;
        clear: none;
    }

    div.single-listing h1 {
        margin-top: 30px;
    }

    div.single-listing button {
        display: inline-block;
        margin: 10px 5px 25px 0;
    }


    /*
    #footer-about p {
    width: 80%;
}
}
    */

    /*--------------------SMALLER THAN 800px-----------------------*/
    @media (max-width: 800px) {
        #listing-space .col {
            flex: 1 0 40%;
        }


    }

    /*--------------------BIGGER THAN 900px-----------------------*/
    @media (min-width: 900px) {
        div.hero {
            background-image: url("../img/unicorn-dog.jpg");
            background-position: top;
        }

        .hero .textblock {
            top: 40%;
            width: 40%;
        }

        #home-about .textblock {
            width: 60%;
        }

        #bunny-day {
            background-image: url("../img/bunny-day-large.jpg");
            background-position: bottom;
        }

        #bunny-day .textblock {
            margin: 0 10%;
        }

        .mission {
            flex-direction: row-reverse;
            padding-bottom: 5%;
        }

        .mission .left-align {
            margin-left: 0;
        }

        .about-width {
            width: 60%;
        }

        .mission .about-width {
            width: 80%;
        }

        .mission .col-full {
            flex-basis: 40%;
        }

        #about-kitty {
            margin-top: 10%;
            width: 100%;
        }

        #works .col-full{
            flex-basis: 40%;
        }

        #works .about-width {
            width: 80%;
        }

        #about-bunny-div {
            margin-left: 0;
        }

        #about-bunny {
            padding-top: 5%;
        }

        .contact-top {
            height: 1200px;
        }

        .contact-top h1 {
            padding-top: 25%;
        }

        .contact-info {
            padding-right: 10%;
        }

        #social-media {
            padding-right: 20%;
        }

        footer .col {
            flex-basis: 30%;
            flex-grow: 1;
            margin-left: 2%;
            margin-bottom: 0;
        }

        #footer-logo {
            margin-left: 2%;
        }
        /*
        footer .col {
        flex: 1 1 30%;
        margin-right: 8%;
    }
        */

        /*

        footer .col {
        flex: 1 1 20%;
        margin-right: 8%;
    }
        */
    }

    /*--------------------LESS THAN 1024px-----------------------*/
    @media (max-width: 1080px) {
        form .inline-block{
            width: 100%;
        }

        .inline-block.third {
            width: 100%;
        }
    }

    /*--------------------BIGGER THAN 1024px-----------------------*/
    @media (min-width: 1024px) {

        #home-about .textblock {
            width: 50%;
        }

        .contact-top {
            height: 900px;
        }

        .contact-top h1 {
            padding-top: 15%;
        }

        #bunny-day {
            background-image: url("../img/bunny-day-xlarge.jpg");
        }

        .pricing-cards .col {
            margin: 2%;
            padding: 4%;
        }

        #our-pets-banner {
            background-image: url("../img/our-pets-banner-L.jpg");
        }


        #hours {
            margin-right: 0;
        }

        #location {
            margin: 10% 0 0 0;
            padding-right: 5%;
        }

        #social-media {
            margin-left: 0;
            padding-right: 3%;
        }
    }

    /*--------------------BIGGER THAN 1200px-----------------------*/
    @media (min-width: 1200px) {
        .contact-top {
            height: 1000px;
        }

        #location {
            padding-right: 3%;
        }

        #social-media {
            margin: 10% 0 0 5%;
        }



    }
