body {
    font-family: freight-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    letter-spacing: 0.02em;
    color: #212121;
}

table {
    width: 100%;
    border: 1px solid #B4AEAD;
    border-radius: 3px;
}

table h1, table h2, table h3, table h4, table p, table a {
    padding: 0 10%;
}

td {
    border-bottom: 1px solid #B4AEAD;
    vertical-align: baseline;
}

h2, h3 {
    margin-top: 5%;
}

h1 {
    font-family: termina, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 3.375em;
}

h2 {
  font-family: termina, sans-serif;
  font-weight: 600;
  font-style: normal;
    font-size: 2.25em;
}

h3 {
  font-family: termina, sans-serif;
  font-weight: 400;
  font-style: normal;
    font-size: 1.75em;
}

h4 {
  font-family: termina, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 1em;
  letter-spacing: 0.2rem;
}

p {

}

nav > a {
    color: #343434;
    margin-right: 15px;
    font-size: 1.25em;
    font-weight: bold;
    transition: color 0.25s;
    text-transform: uppercase;
}


nav > a:hover{
    color: black;
}

nav > a:active{
    color: #c61616;
}

a {
    color: #F0453A;
    text-decoration: none;
}

a:hover {
    color: #F98981;
}

input {
    padding: 0;
    padding-bottom: 12px;
    border: none;
    border-bottom: 4px solid rgb(0, 0, 0, 0.1);
    color: rgb(0,0,0,0.7);
    width: 100%;
}

input:focus {
    border-bottom: 4px solid #8BC8E9;
    outline-style: none;
    color: rgb(0,0,0,0.9);
}

.form-label {
    padding-bottom: 0;
    margin-top: 45px;
    margin-bottom: 12px;
    color: #5A9EC4;
}

table li {
    margin-left: 5%;
}

.button {
    margin: 0 1%;
    border: none;
    border-radius: 3px;
    padding: 9px 18px;
    font-size: 0.95em;
    font-weight: 400;
    color: rgb(0,0,0,0.8);
    transition: background-color 0.4s ease;
}

.button.whiteorange-bg{
  border: 1px solid #FFA000;
  color: #FFA000;
}

.button.whiteorange-bg:hover{
    background-color: #FFA000;
    color: white;
}

.button.orange-bg{
  color: white;
}

.button.orange-bg:hover{
    background-color: #ffc76e;
}

.button.lightgrey-bg:hover{
    background-color: #c1c1c1;
}


.small-grey-text {
    opacity: 0.6;
    padding-left: 0;
}

*, *:after, *::before {
    box-sizing: border-box;
}

.container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;

    flex-wrap: -webkit-wrap;
    flex-wrap: -ms-wrap;
    flex-wrap: wrap;
}


.main {
    margin-left: 29%;
    margin-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    padding-left: 7%;
}

.sample-code > code{
    display: block;
}

.indent-code {
    padding-left: 20px;
}
.col {
    flex-grow: 1;
    margin: 10px;
    position: relative;
}

.col > p {
    position: absolute;
    bottom: 0;
    padding-left: 10%;
    opacity: 0.8;
}

.orange-bg {
    background-color: #FFA000;
}

.lightblue-bg {
    background-color: #D5E9F3;
}

.mediumblue-bg {
    background-color: #8BC8E9;
}

.darkblue-bg {
    background-color: #5A9EC4;
}

.lightgrey-bg {
    background-color: #cecece;
    border: 1px solid rgb(0, 0, 0, 0.25);
}

.grey-bg > p {
    color: white;
    font-weight: 100;
}

.grid-demo > .col {
    margin: 30px 0;
    border: 10px solid #D5E9F3;
    background-color: #8BC8E9;
}

#active-nav {
    color: black;
    padding-bottom: 7px;
    border-bottom: 4px solid black;
    stroke-linecap: round;
}

#form {
    width: 50%;
}

#form button {
    margin-top: 35px;
    margin-left: 0;
    background-color: #8BC8E9;
    display: block;
    width: 100%;
}

#last-row td {
    border-bottom: none;
}

#swatches{
    width: 100%;
    height: 300px;
    margin-top: -10px;
}

#sample-listing col {
    width: 30%;
    display: block;
}

#sample-listing img {
    max-width: 225px;
}

#sample-listing h3 {
    display: block;
    padding-left: 0;
    padding-bottom: 20px;
}

#sample-listing p {
    padding-left: 0;
}

@media (max-width: 855px) {
    .side-bar {
        display:none;
    }

    .main {
        margin-left: 5%;
        padding: 0;
    }

    .col {
        width: 100%;
    }

    .col > p {
        padding-left: 3%;
    }

    #sample-listing h2 {
    padding-left: 3%;
     padding-bottom: 3%;
}

    table p {
        font-size: 0.8em;
    }

    #swatches {
        height: 600px;
    }
}
